body {
    font-family: monospace;
    background-color: #e9ebed;
}

/* 
values of justify-content {
    flex-start, flex-end, center, space-between, space-around, space-evenly(it applies to the horizontal aspect of the element)
} */
/* values of align-items {
    flex-start, flex-end, center, baseline, stretch(it applies to the vertical aspect)
} */
.container{
    overflow: hidden;
    min-height: 70%;
    /* min-height: -webkkit-calc(100% - 200px);
    min-height: -moz-calc(100% - 200px);
    min-height: calc(100% - 200px); */
}
header {
    background-color: rgb(22, 201, 91);
    width: 100%;
    padding: 20px;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 20px;
}


.add {
    margin-bottom: 4em;
    margin-top: 4em;
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.first{
    border: 2px solid #c00101;
    width: 500px;
}

.second{
    /* margin-left: -2em; */
    border: 2px solid #44bd32;
    margin-top: 5em;
    width: 500px;
}

h2 {
    display: flex;
    justify-content: center;
    font-size: 25px;
}

.expensevalues {
    display: flex;
    justify-content: center;
    padding: 5px;
}

input[type=text] {
    margin-right: 5px;
    padding: 10px;
    font-size: 15px;
}

input[type=number] {
    width: 90px;
    margin-right: 6px;
    padding: 5px;
    font-size: 15px;
}

#income{
    width: 149px;
    padding: 10px;
    /* font-size: 17px; */
    font-weight: 600;
}
.btn {
    background-color: #44bd32;
    cursor: pointer;
    border: white;
    width: 70px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-right: 5px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.btn1 {
    background-color: #e74c3c;
    cursor: pointer;
    border: white;
    width: 80px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    margin-right: 5px;
}

.btn1:hover {
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #7f0000;
}

.btn:hover {
    transform: translateY(1px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #18690b;
}

.btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.expenselist {
    margin-bottom: 250px;
    width: 50%;
    float: right;
    box-sizing: border-box;
}

.expenselist>h2 {
    display: flex;
    justify-content: center;
    font-size: 27px;
    /* margin-right: -20px; */
}

/* #orderlist {
    justify-content: center;
    width: 40%;
} */

li {
    border: 1px solid #18690b;
    margin: 5px 0;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    text-transform: uppercase;
}
.values {
    display: flex;
    justify-content: space-around;
    /* margin-bottom: 1rem; */
}
footer{
    clear: both;
    margin-top: 1em;
}