
body {
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00272b;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  margin: 0 auto;
}
h2 {
  font-family: "Lofty", sans-serif;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
nav ul li {
  display: inline;
}
nav ul li a {
  text-decoration: none;
  color: #d6d5c9;
}
