body {
  /* margin: 0; */
  background-color: #fdfffc;
  font-family: "Open Sans", Arial, sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
form {
  width: 360px;
  padding: 25px;
  background-color: #e8e9ed;
  margin: 0 auto;
  border-radius: 8px;
}
label {
  margin-bottom: 5px;
  display: block;
}
input {
  width: 100%;
  padding: 8px;
  line-height: 1.5;
  margin-bottom: 10px;
  outline: none;
  border: none;
  border-bottom: 1px solid gray;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}
#txt-format {
  display: flex;
  justify-content: space-between;
}
#txt-format a {
  text-decoration: none;
}
.button-31 {
  background-color: #00272b;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  line-height: 1.5;
  margin: 0;
  margin-top: 10px;
  max-width: none;
  outline: none;
  overflow: hidden;
  padding: 9px;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: 0.75;
}
.button-31 {
  text-decoration: none;
  color: white;
}
.footer{
    text-align: center;
    margin-top: 20px;
}
.footer p{
    font-size: 12px;
    color: #aaa;
}